<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>507191670309-caa5r3ok3uhl8arrimnrqgf92ai6s0u0.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.507191670309-caa5r3ok3uhl8arrimnrqgf92ai6s0u0</string>
    <key>API_KEY</key>
    <string>AIzaSyASO5_XyrxkBuIADyFrIwEEwJpng2M-iFs</string>
    <key>GCM_SENDER_ID</key>
    <string>507191670309</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.example.communityApp</string>
    <key>PROJECT_ID</key>
    <string>community-a5c53</string>
    <key>STORAGE_BUCKET</key>
    <string>community-a5c53.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:507191670309:ios:64cd92215f652865b2b1cc</string>
    <key>DATABASE_URL</key>
    <string>https://community-a5c53.firebaseio.com</string>
</dict>
</plist>
