body {
    background: url(image/pic1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav .dropdown-toggle::after {
    display: none;
}
.tabbedContainer {
    border-radius: 10px;
}
.containerTabs {
    padding: 10px;
}
.bi {
    padding-right: 5px; 
}

.userInfo {
    opacity: .5;
}
.userInfo:hover {
    opacity: .75;
}
 .title {
     color: white;
     text-align: center;
 } 
.navbar {
    z-index: 1;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.dashDrawer{
    padding-top: 100px;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    position: relative;
}


.communityBoard {
    padding-bottom: 1in;
    
}


.communityBoard .carousel .carousel-inner .carousel-item {
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.cardRow {
    z-index: -1;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.cardBtn {
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.cardBtn .btnBody {
    padding: 10px;
}

.cardBtn .btnBody .bi {
    height: 100px;
}