  body {
    background: url('image/pic1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
  .navbar {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
  .dropdown-toggle::after {
      display: none;
  }
  .jumboContainer {
      padding-top: 100px;
  }
  .jumbotron {
      opacity: .90;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
      border-radius: 20px;
  }
  .formContainer {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 800px;
  }
  .formWrapper {
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
  .formToggleBtn {
    width: 100px;
    background-color: lightgray;
    opacity: .7;
    color: black;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
  .formToggleBtn:hover {
    width: 100px;
    background-color: grey;
    color: black;
    opacity: 1;
  }
  .errorLabel {
    color: red;
  }
  .errorWrapper {
    border-radius: 20px;
    width: 300px;
  }
  .signInErrorLabelContainer {
    width: 300px;
  }